<!-- templates/our-team.html -->
{% extends "base.html" %}

{% block title %}About Us - JBK Search Corporation{% endblock %}

{% block content %}
<div class="container-fluid d-flex justify-content-center align-items-center" style="padding-top: 125px;">
    <img src="../static/img/about-avatars.png"></img>
</div>

<div class="container my-5">
    <h1 class="text-center p-5" style="font-size:5em; font-weight:700;">The Recruitment of Possibility</h1>

    <div class="about-container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">
                    JBK Search is a global recruiting firm committed to connecting top talent with passion-driven
                    organizations in the <span style="color: #439539;">biotechnology</span>, <span
                        style="color: #439539;">biopharma</span>, <span style="color: #439539;">molecular
                        diagnostics</span>, <span style="color: #439539;">medical devices & software</span>, <span
                        style="color: #439539;">labratory services</span> and <span style="color: #439539;">nonprofit
                        industries</span>.
                </h2>
            </div>
            <div class="col-md-6">
                <h2 class="mb-4 text-center">We are <span style="color: #439539;">experienced recruiters</span>. We are
                    <span style="color: #439539;">trusted advisors</span>. Our clients seek us out because
                    of our industry experience and our straightforward, no-nonsense approach to recruiting</h2>
            </div>
        </div>
    </div>

    <div class="about-container mb-5">
        <div class="row">
            <div class="col-md-6">
                <h4><img src="../static/img/favicon-32x32.png" alt="JBK Search Icon" class="icon me-2 py-2"> We ask many
                    questions during the initial assessment.</h4>
                <h4><img src="../static/img/favicon-32x32.png" alt="JBK Search Icon" class="icon me-2 py-2"> We create a
                    profile of the candidate based on the skills needed and the personality desired.</h4>
                <h4><img src="../static/img/favicon-32x32.png" alt="JBK Search Icon" class="icon me-2 py-2"> We assemble
                    an exhaustive list of candidates from our database of over 12,000 candidates, our extensive network,
                    and our state-of-the-art search tools.</h4>
                <h4><img src="../static/img/favicon-32x32.png" alt="JBK Search Icon" class="icon me-2 py-2"> We conduct
                    an initial interview and assessment, followed up by our Founder & CEO’s lengthy behavioral-based
                    interview.</h4>
                <h4><img src="../static/img/favicon-32x32.png" alt="JBK Search Icon" class="icon me-2 py-2"> We present
                    the candidate to the leadership team.</h4>
                <h4><img src="../static/img/favicon-32x32.png" alt="JBK Search Icon" class="icon me-2 py-2"> We coach
                    the client on areas to dig in and the candidate’s hot buttons.</h4>
            </div>
            <div class="col-md-6">
                <h4><img src="../static/img/favicon-32x32.png" alt="JBK Search Icon" class="icon me-2 py-2"> We cover
                    the counteroffer (early & often).</h4>
                <h4><img src="../static/img/favicon-32x32.png" alt="JBK Search Icon" class="icon me-2 py-2"> We discuss
                    any concerns or needs with the candidate’s significant others or family if needed concerning issues
                    such as relocation.</h4>
                <h4><img src="../static/img/favicon-32x32.png" alt="JBK Search Icon" class="icon me-2 py-2"> We
                    negotiate offers.</h4>
                <h4><img src="../static/img/favicon-32x32.png" alt="JBK Search Icon" class="icon me-2 py-2"> We help
                    with onboarding if asked.</h4>
                <h4><img src="../static/img/favicon-32x32.png" alt="JBK Search Icon" class="icon me-2 py-2"> We stay in
                    touch with the candidate and client after the placement to address any concerns.</h4>
            </div>
        </div>
    </div>

</div>

<div style="height: 75px;"></div> <!-- Spacer div -->
<div class="vision container my-5">
    <div class="row">
        <div class="col-md-6">
            <h1 class="text-center" style="font-size:5em; font-weight:700;">JBK'S VISION: </h1>
            <h3 class="text-center" style="font-size:3em; font-weight:500;">Perfecting the "<span
                    style="color: #439539;">human element</span>"" of <span style="color: #439539;">Life
                    Science</span>
                recruitment.
            </h3>
        </div>
        <div class="col-md-6">
            <h2 style="font-weight: 600;">AI RECRUITMENT AND THE AUTOMATION ERA</h2>
            <p class="lead">
                Personal connections are at the heart of JBK Search, where we focus on understanding each candidate’s
                unique strengths and aligning them with the perfect opportunities.
            </p>
            <p class="lead">
                JBK Search remains dedicated to human connections, offering individualized attention and thoughtful
                communication to both clients and candidates at every step.
            </p>
            <h2 style="font-weight: 600;">USING OUR POWERS FOR GOOD</h2>
            <p class="lead">We've seen too many "demos" of "the power of ai" and we just don't buy it. We believe some
                tasks should be automated, but each relationship is unique, just like your journey. We are here to guide
                you every step of the way.</p>
        </div>
    </div>
</div>
<div style="height: 75px;"></div> <!-- Spacer div -->


<div class="team-section mb-4">
    <div class="text-center mb-5">
        <img src="../static/img/PTB-for-website1-1.jpeg" class="img-fluid rounded-circle" alt="Team Member"
            style="max-width: 50%;">
    </div>

    <div class="container">
        <h3 class="mb-3 text-center" id="our-team" style="font-size:5em; font-weight:700;">Our Team</h3>
        <div class="row justify-content-center p-5">
            <div class="col-md-4">
                <div class="profile-card">
                    <img src="../static/img/bp-linkedin.jpg" alt="Brenda" class="img-fluid rounded-circle mb-2">
                    <div class="profile-details">
                        <h3>Brenda Patterson</h3>
                        <p>Founder & President</p>
                        <p>Senior Recruiter</p>
                    </div>
                    <div class="profile-info">
                        <p><a target="_blank" href="mailto:brenda@jbksearch.com">Email: brenda@jbksearch.com</a></p>
                        <p><a href="https://www.linkedin.com/in/brendapatterson/" target="_blank"><i
                                    class="bi bi-linkedin lead social-link"> Connect
                                    with
                                    Brenda on
                                    LinkedIn!</i></a>
                        </p>

                        <a href="{{ url_for('bp_about') }}" class="btn btn-secondary">Read Brenda's Bio</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="profile-card">
                    <img src="../static/img/jake-linkedin.jpg" alt="Jake" class="img-fluid rounded-circle mb-2">
                    <div class="profile-details">
                        <h3>Jake Patterson</h3>
                        <p>Director of Operations</p>
                    </div>
                    <div class="profile-info">
                        <p><a target="_blank" href="mailto:jake@jbksearch.com">Email: jake@jbksearch.com</a></p>
                        <p></p>
                        <p><a href="https://www.linkedin.com/in/jake-patterson-7411b72b/" target="_blank"><i
                                    class="bi bi-linkedin lead social-link"> Connect with Jake on LinkedIn!</i></a>
                        </p>
                        <a href="{{ url_for('jake_about') }}" class="btn btn-secondary">Read Jake's Story</a>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="profile-card">
                    <img src="../static/img/laine-linkedin.jpg" alt="Laine" class="img-fluid rounded-circle mb-2">
                    <div class="profile-details">
                        <h3>Laine Tongren</h3>
                        <p>Sourcing Recruiter</p>
                    </div>
                    <div class="profile-info">
                        <p><a href="mailto:laine@jbksearch.com" target="_blank">Email: laine@jbksearch.com</a></p>
                        <p><a href="https://www.linkedin.com/in/laine-tongren-7845a8255/" target="_blank"><i
                                    class="bi bi-linkedin lead social-link"> Connect with Laine on
                                    LinkedIn!</i></a>
                        </p>
                        <a href="{{ url_for('laine_about') }}" class=" btn btn-secondary">Read Laine's
                            Story</a>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>





{% endblock %}