{% extends "base.html" %}

{% block body_class %}about-background{% endblock %}

{% block title %}Brenda's Story - JBK Search Corporation{% endblock %}

{% block content %}
<div class="container story-container">
    <!-- Top Section: Photo and Employee Details -->
    <div class="row mb-5">
        <!-- Left column for the image -->
        <div class="col-md-4">
            <img src="../static/img/bp_about.JPG" class="img-fluid rounded-circle" alt="Employee Photo">
        </div>

        <!-- Right column for the details -->
        <div class="about-bio col-md-8 d-flex flex-column justify-content-center">
            <h2 class="mb-1">Brenda Patterson</h2>
            <h4 class="text-muted mb-3">Founder, Sr. Recruiter</h4>
            <p class="mb-2"><a href="tel:317-245-8085" class="lead"><i class="bi bi-telephone mr-5"> </i>Office:
                    317-245-8085</a></p>
            <p class="mb-2"><a href="tel:317-513-4188" class="lead"><i class="bi bi-phone"></i> Cell: 317-513-4188</a>
            </p>

            <p class="mb-2"><a href="mailto:brenda@jbksearch.com" class="lead"><i class="bi bi-envelope"></i>
                    brenda@jbksearch.com</a></p>



            <p class="mb-2"><a href="https://www.linkedin.com/in/brendapatterson/" class="lead" target="_blank"><i
                        class="bi bi-linkedin"></i> LinkedIn</a></p>
            <p class="mb-2"><a href="https://www.facebook.com/brenda.patterson.14" class="lead" target="_blank"><i
                        class="bi bi-facebook"></i> Facebook</a></p>
        </div>
    </div>

    <!-- Full bio section -->
    <div>
        <p class="lead">Hi, I’m Brenda Patterson and I’m often affectionately called "The Headhunter with Skin in the
            Game." My recruiting career began in 1988, but my path took a profound turn when life presented me with
            challenges that reshaped my mission. </p>

        <p class="lead">The day after my daughter was diagnosed, I found Dr. Steve Shak, the discoverer of
            Pulmozyme. One week later, I found Frank DeFord, whose daughter had died of CF at the age of eight.
            I then met Boomer Esiason whose son Boomer has CF. Their advice changed the trajectory of my life:
            (1) get on a first-name basis with all my doctors, (2) learn everything possible about CF and follow
            scientific advancements, (3) become an advocate for my children, (4) raise boatloads of money for
            the CF Foundation and JDRF, (5) take my skills as a recruiter to the biotech industry, because
            evangelists make great recruiters, and (6) never, ever give up. I took their advice, and JBK Search
            was born.</p>
        <p class="lead">I’ve broken many records in recruiting. I’ve been a member of the prestigious Pinnacle
            Society (a consortium of 75 of the top recruiters in the United States), and president of the
            Indiana Search and Staffing Association. I’ve trained numerous top 10 recruiters. I’ve spoken at
            many industry conferences. Although I’m grateful and humbled, these accolades don’t matter to me.
        </p>
        <p class="lead">I’m looking for results that enable my candidates and clients to work together to help
            patients live healthier and longer lives. That’s what gets me out of bed early in the morning and
            keeps me at my desk long after dark. Recruiting is not just a job; it’s a way to use my talents and
            skills to make a difference. Thus, my company offers a unique commitment, skill set, and talent
            no-one else can.</p>
        <p class="lead">I’ve built a company fueled by passion, commitment, and hard work. I’m here. Let’s talk.
        </p>
    </div>
</div>


{% endblock %}