{% extends "base.html" %}

{% block body_class %}about-background{% endblock %}

{% block title %}Jake's Story - JBK Search Corporation{% endblock %}

{% block content %}
<div class="container story-container" style="padding-top: 125px;">
    <!-- Top Section: Photo and Employee Details -->
    <div class="row mb-5">
        <!-- Left column for the image -->
        <div class="col-md-4">
            <img src="../static/img/jake-linkedin.jpg" class="img-fluid rounded-circle" alt="Employee Photo">
        </div>

        <!-- Right column for the details -->
        <div class="about-bio col-md-8 d-flex flex-column justify-content-center">
            <h2 class="mb-1">Jake Patterson</h2>
            <h4 class="text-muted mb-3">Director Of Operations</h4>
            <p class="mb-2"><a href="tel:317-245-8085" class="lead"><i class="bi bi-telephone mr-5"> </i>Office:
                    317-245-8085</a></p>
            <!-- <p class="mb-2"><a href="tel:317-513-4188" class="lead"><i class="bi bi-phone"></i> Cell: 317-513-4188</a>
            </p> -->

            <p class="mb-2"><a href="mailto:laine@jbksearch.com" class="lead"><i class="bi bi-envelope"></i>
                    jake@jbksearch.com</a></p>



            <p class="mb-2"><a href="https://www.linkedin.com/in/jake-patterson-7411b72b/" class="lead"
                    target="_blank"><i class="bi bi-linkedin"></i> LinkedIn</a></p>
        </div>
    </div>

    <!-- Full bio section -->
    <div>
        <p class="lead">Jake Patterson is our Founder’s son and is 31 years old. Jake has a bachelor’s degree in Arts
            and Entertainment Media Management from Columbia College in Chicago. Jake works with JBK Search as Director
            Outreach. Jake has a passion for promoting local artists at festivals and music venues. He lives in Chicago
            with his partner and their Shiba Inu, Lennon.</p>

        <p class="lead">Jake was diagnosed with Type 1 diabetes at the age of 17. Like his sister with her CF, Jake
            never allowed diabetes to define him. He quickly learned how to prick his finger to test for sugars, manage
            highs and low, inject insulin, and manage his diet. Jake followed clinical trials and the advancements of
            the artificial pancreas and insulin pump. He was one of the first in line to start using this amazing
            technology. Thank you to Roche, Dexcom, and the Juvenile Diabetes Research Foundation.</p>
        <p class="lead">He strives to make a difference by providing financial support, time and energy to the CF
            Foundation and JDRF. In 2019, he participated in the One Dream Gala for JDRF in Chicago where a
            record-breaking $7.1 million was raised for T1D research. In 2018 and 2019, Jake was honored as an
            Ambassador to raise money and awareness at the Purple Tie Ball, a high-end fundraising event for the CF
            Foundation.
        </p>
        <p class="lead">#NoRest​</p>

    </div>
</div>


{% endblock %}