{% extends "blog_base.html" %}

{% block title %}Inspiration Title{% endblock %}

{% block content %}
<div class="blog-post">
    <h1>How working with drug companies fuels our passion</h1>
    <p>Published on: <em>September 15, 2024</em></p>

    <img src="/static/img/jbk-logo-color.png" class="img-responsive mb-4" alt="JBK Inspirations Photo">
    <!-- NEED TO ADD A TAG OR SOMETHING TO CATEGORIZE THE POSTS. EXAMPLE: Interview Tips, Industry News, Company News, etc-->
    <br>
    <a href="{{ url_for('blog') }}" style="font-style: italic;">Inspirations</a>
    <h1>CRISPr or Trikafta example</h1>
    <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis officia suscipit asperiores iste ex vero,
        exercitationem reprehenderit beatae voluptates odit sit sed quod quibusdam eum sint facere cupiditate saepe,
        magnam in odio consequatur eos fuga, voluptate quae? Hic quis blanditiis iste laborum quo error eum eos
        quibusdam dolores impedit debitis beatae vero illo quam nemo eius recusandae deserunt nostrum quisquam dolorem
        nobis molestiae, aspernatur ab! Porro repudiandae, sed voluptate, unde accusantium ea suscipit tenetur repellat
        architecto aspernatur dolorem dolorum id, a consequatur. Nostrum eaque maxime aliquid voluptatibus sequi. Ipsa
        velit doloribus quaerat quia soluta assumenda, delectus est, enim, quos autem reiciendis in inventore iure
        facilis eius. Id fugiat ducimus in modi architecto exercitationem! Error voluptatum, delectus est neque omnis
        velit ea officia quisquam quam minus temporibus saepe ratione soluta nihil quaerat corporis, nobis distinctio
        provident pariatur explicabo dolor quas itaque porro nemo. Recusandae, sit id. Explicabo, numquam iusto
        accusantium ad commodi exercitationem officiis optio possimus cumque ratione, qui saepe. Aut sit architecto
        nesciunt veniam incidunt itaque, veritatis reprehenderit odit autem. Quos vel doloremque eaque dignissimos non
        nisi a facere corrupti, tenetur vitae, temporibus laboriosam asperiores explicabo, voluptatibus possimus
        cupiditate optio nemo praesentium rerum ipsa ea ipsam nihil veritatis deserunt. Non, minima sapiente, adipisci
        ut saepe quas eveniet eos harum veniam, ducimus itaque alias consectetur quia provident. Est quod repellendus
        doloribus ratione impedit provident assumenda! Pariatur architecto, optio hic delectus vel, obcaecati
        dignissimos ducimus, perspiciatis aspernatur consectetur similique soluta cum nesciunt quod fugiat voluptatum
        laborum excepturi est rem dolor rerum odio!
    </p>

    <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis officia suscipit asperiores iste ex vero,
        exercitationem reprehenderit beatae voluptates odit sit sed quod quibusdam eum sint facere cupiditate saepe,
        magnam in odio consequatur eos fuga, voluptate quae? Hic quis blanditiis iste laborum quo error eum eos
        quibusdam dolores impedit debitis beatae vero illo quam nemo eius recusandae deserunt nostrum quisquam dolorem
        nobis molestiae, aspernatur ab! Porro repudiandae, sed voluptate, unde accusantium ea suscipit tenetur repellat
        architecto aspernatur dolorem dolorum id, a consequatur. Nostrum eaque maxime aliquid voluptatibus sequi. Ipsa
        velit doloribus quaerat quia soluta assumenda, delectus est, enim, quos autem reiciendis in inventore iure
        facilis eius. Id fugiat ducimus in modi architecto exercitationem! Error voluptatum, delectus est neque omnis
        velit ea officia quisquam quam minus temporibus saepe ratione soluta nihil quaerat corporis, nobis distinctio
        provident pariatur explicabo dolor quas itaque porro nemo. Recusandae, sit id. Explicabo, numquam iusto
        accusantium ad commodi exercitationem officiis optio possimus cumque ratione, qui saepe. Aut sit architecto
        nesciunt veniam incidunt itaque, veritatis reprehenderit odit autem. Quos vel doloremque eaque dignissimos non
        nisi a facere corrupti, tenetur vitae, temporibus laboriosam asperiores explicabo, voluptatibus possimus
        cupiditate optio nemo praesentium rerum ipsa ea ipsam nihil veritatis deserunt. Non, minima sapiente, adipisci
        ut saepe quas eveniet eos harum veniam, ducimus itaque alias consectetur quia provident. Est quod repellendus
        doloribus ratione impedit provident assumenda! Pariatur architecto, optio hic delectus vel, obcaecati
        dignissimos ducimus, perspiciatis aspernatur consectetur similique soluta cum nesciunt quod fugiat voluptatum
        laborum excepturi est rem dolor rerum odio!
    </p>


    <a href="{{ url_for('blog') }}" class="btn btn-primary mt-4 mb-4">Back to Blog</a>
</div>
{% endblock %}